PORT=3000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=abisat_et
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-before-deploying
EMAIL_USER=
EMAIL_PASS=
CONTACT_TO=abisatinfo.support@gmail.com
